<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre México - Envíos Gratis en el día</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="img/192x192-android.png"
      data-head-react="true"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-logo-search">
        <a href="#" class="header-logo">
          <img src="img/logo-mercado-liebre.svg" alt="" />
        </a>
        <div class="search-container">
          <form class="header-search" action="">
            <input
              type="text"
              class="header-search-input"
              placeholder="Buscar productos, marcas..."
            />
            <button class="header-search-button" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="header-info">
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin
          tarjeta de crédito
        </p>
      </div>
      <div class="header-nav">
        <div class="nav-icon">
          <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="nav-mobile">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
          <br />
          <li>
            <a href="#"><i class="fa-regular fa-id-card"></i> Crea tu cuenta</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-cart-shopping"></i> Mis compras</a
            >
          </li>
        </nav>
        <nav class="nav-desktop">
          <ul class="nav-desktop-main">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="nav-desktop-user">
            <li>
              <a href="#"
                ><i class="fa-regular fa-id-card"></i> Crea tu cuenta</a
              >
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-cart-shopping"></i> Mis compras</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="carrousel">
          <img src="img/img-home-banner_2.jpg" alt="" srcset="" />
        </div>
      </section>
      <section class="recomendados">
        <h2 class="section-title">Basado en tu última visita</h2>
        <div class="gallery-items">
          <article class="item">
            <img class="item-img" src="img/img-cafetera-moulinex.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$1,918</p>
                <p class="item-descuento">40% OFF</p>
              </div>
              <p class="item-envio-full">
                <i class="fa-solid fa-bolt-lightning"></i>
                FULL
              </p>
              <p class="item-nombre">Cafetera Moulinex</p>
            </div>
          </article>
          <article class="item">
            <img class="item-img" src="img/img-macbook-pro-2019.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$34,999</p>
                <p class="item-descuento">20% OFF</p>
              </div>
              <p class="item-envio-full">
                <i class="fa-solid fa-bolt-lightning"></i>
                FULL
              </p>
              <p class="item-nombre">MackBook Pro 2019</p>
            </div>
          </article>
          <article class="item">
            <img class="item-img" src="img/img-samsung-galaxy-s10.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$5,599</p>
                <p class="item-descuento">10% OFF</p>
              </div>
              <p class="item-envio-full">
                <i class="fa-solid fa-bolt-lightning"></i>
                FULL
              </p>
              <p class="item-nombre">Samsung Galaxy S10</p>
            </div>
          </article>
          <article class="item">
            <img class="item-img" src="img/img-tv-samsung-smart.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$7,999</p>
                <p class="item-descuento">5% OFF</p>
              </div>
              <p class="item-envio-full">
                <i class="fa-solid fa-bolt-lightning"></i>
                FULL
              </p>
              <p class="item-nombre">SmartTV Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
      <section class="ofertas">
        <h2 class="section-title">Ofertas</h2>
        <div class="gallery-items">
          <article class="item">
            <img class="item-img" src="img/img-cafetera-moulinex.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$1,918</p>
                <p class="item-descuento">40% OFF</p>
              </div>
              <p class="item-envio-gratis">Envío gratis</p>
              <p class="item-nombre">Cafetera Moulinex</p>
            </div>
          </article>
          <article class="item">
            <img class="item-img" src="img/img-macbook-pro-2019.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$34,999</p>
                <p class="item-descuento">20% OFF</p>
              </div>
              <p class="item-envio-gratis">Envío gratis</p>
              <p class="item-nombre">MackBook Pro 2019</p>
            </div>
          </article>
          <article class="item">
            <img class="item-img" src="img/img-samsung-galaxy-s10.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$5,599</p>
                <p class="item-descuento">10% OFF</p>
              </div>
              <p class="item-envio-gratis">Envío gratis</p>
              <p class="item-nombre">Samsung Galaxy S10</p>
            </div>
          </article>
          <article class="item">
            <img class="item-img" src="img/img-tv-samsung-smart.jpg" alt="" />
            <div class="item-info">
              <div class="envio-icon-container">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="item-precio-container">
                <p class="item-precio">$7,999</p>
                <p class="item-descuento">5% OFF</p>
              </div>
              <p class="item-envio-gratis">Envío gratis</p>
              <p class="item-nombre">SmartTV Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-info">
        <!-- footer-info-icon -->
        <i class="fa-solid fa-credit-card footer-info-icon"></i>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tendrás cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footer-info">
        <i class="fa-solid fa-gift footer-info-icon"></i>
        <h3>Envío gratis desde $499</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tendrás envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="footer-info">
        <i class="fa-solid fa-user-shield footer-info-icon"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Regrésalo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <small class="copyright"
        >Copyright © 1999-2020 MercadoLiebre S.R.L.</small
      >
    </footer>
    <script src="js/menu.js"></script>
  </body>
</html>
